body .default{

    line-height: 1.6em;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-size: 12px;
    color: #669;

}
#enfasis-columna{
    margin: 45px;
    width: 480px;
    text-align: left;
     border-collapse: collapse ;

}
 #enfasis-columna caption{
    font-size: 20px;
    padding: 12px 15px;
   font-weight: normal;
    color: #339 ;    


 }

 
 #enfasis-columna td{
    padding: 10px 15px;
color: #669;
border-top: 1px solid #e8dcf7;

 }
  .columna {
    background: #d0dafd;
    border-right: 10 px solid transparent;
    border-left: 10 px solid transparent;
  }
#enfasis-columna tr:hover td {
    color: #339;
    background: #e8dcf7;


}
